* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  background-image: linear-gradient(120deg, #8458a3 0%, #541c8a 100%);
}

header {
  padding: 50px 15px 0px;
}

header h1 {
  color: wheat;
  font-size: 48;
  text-align: center;
}

main {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
}

section {
  padding: 15px;
}

.searchbox {
  display: block;
  width: 100%;
  padding: 15px;

  border: none;
  outline: none;
  background: none;

  background-color: wheat;
  border-radius: 8px;

  color: #2a0346;
  font-size: 20px;
  font-weight: 300;

  transition: 0.4s ease-out;
}

.searchbox:focus {
  box-shadow: 0px 0px 8px 3px rgb(37, 3, 70);
}

.results {
  display: flex;
  flex-wrap: wrap;
  margin: 0px -15px;
}

.results .result {
  width: 33.333%;
  min-width: 250px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.results .result img {
  display: block;
  width: 100%;
}

.results .result h3 {
  color: rgb(0, 0, 0);
  font-size: 20px;
  font-weight: 100;
  padding: 10px;
  background: wheat;
  flex: 1 1 100%;
  transition: 0.4s ease-out;
}

.results .result:hover h3 {
  background-color: #2a0346;
  color: wheat;
}
